{% extends "layout.html" %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('notify') %}
<div class="col-md-4 col-md-offset-4" style="font-size: 16px; color: red; font-weight: 800;">
{{ flashMessage }}
</div>
{% endfor %}
<div class="col-md-4 col-md-offset-4">
    <h1>Todo List:</h1>
    <table class="table table-striped">
        <th>#</th><th>User</th><th>Description</th><th>View</th><th></th><th>Mark Completed</th>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.user_id }}</td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}">
                       {{ todo.description }}
                    </a>
                </td>
                <td>
                    <a href="{{ app.request.baseurl }}/todo/{{ todo.id }}/json">
                        Json
                    </a>
                </td>
                <td>
                    <form method="post" action="{{ app.request.baseurl }}/todo/delete/{{ todo.id }}">
                        <button type="submit" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>
                    </form>
                </td>
                <td>
                    {% if not todo.completed  %}
                        <form method="post" action="{{ app.request.baseurl }}/todo/mark">
                            <input type="checkbox" name="marked" value="{{ todo.id }}" required> <br></input>
                            <button type="submit" class="btn btn-sm btn-primary" >Mark Completed</button>
                        </form>
                    {% else %}
                        <input type="checkbox" checked disabled> <br></input>
                        <button type="submit" class="btn btn-sm btn-default"  disabled>Completed</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <form method="post" action="{{ app.request.baseurl }}/todo/add">
                <td colspan="3">
                    <input type="textbox" name="description" class="small-6 small-center" placeholder="Description..." required>
                </td>
                <td>
                    <button type="submit" class="btn btn-sm btn-primary">Add</button>
                </td>
            </form>
        </tr>
    </table>
    <div>
        {% if pagination%}
            {% if pagination.totalPage > 1%}
                    {% if pagination.prevPage is defined %}
                        {%  if pagination.prevPage == 0 %}
                            <a href="{{ app.request.baseurl }}/todo" class="btn btn-sm btn-primary" > prev</a>
                        {% else %}
                             <a href="{{ app.request.baseurl }}/todo/page/{{pagination.prevPage}}" class="btn btn-sm btn-primary" > prev</a>
                        {% endif %}
                    {% endif %}

                    {% for i in 0..(pagination.totalPage - 1) %}
                            {% if pagination.currentPage == i %}
                                <span class="btn btn-sm btn-default disabled" > {{i}}</span>
                            {% elseif i == 0 %}
                                <a href="{{ app.request.baseurl }}/todo" class="btn btn-sm btn-default" > {{i}}</a>
                            {% else %}
                                <a href="{{ app.request.baseurl }}/todo/page/{{i}}" class="btn btn-sm btn-default" > {{i}}</a>
                            {% endif %}
                    {% endfor %}

                    {% if pagination.nextPage < pagination.totalPage %}
                            {% if pagination.nextPage is defined %}
                                 <a href="{{ app.request.baseurl }}/todo/page/{{pagination.nextPage}}" class="btn btn-sm btn-primary" > next</a>
                            {% endif %}
                    {% endif %}
            {% endif %}
        {% endif %}
    </div>

</div>

{% endblock %}